body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

#contenu {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #45b6fe;
}

#logout {
    margin-left: auto;
}

#formulaire {
    margin-bottom: 20px;
}

#nouvelleTache {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#descriptionTache {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulaire button {
    background-color: #45b6fe;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#listeTaches {
    list-style: none;
    padding: 0;
}

#listeTaches li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#listeTaches li.terminee {
    text-decoration: line-through;
}

#messages {
    color: #0e2433;
    margin-top: 20px;
}
